# Ignore all Terraform state files & backups
*.tfstate
*.tfstate.*
*.tfstate.backup*
terraform.tfstate.backup.json

# Ignore local terraform working directory
.terraform/

# Ignore Python cached files
__pycache__/
*.pyc

# Ignore local secret CSV files
*.csv
